<%- include("header") %>

<div class="box">
  <div id="heading">
    <h1><%=listTitle%></h1>
  </div>
</div>

<div class="box itembox">
  <ul class="list">
    <% newListItem.forEach(element => { %>
    <form action="/delete   " method="post">
      <div class="item">
        <input
          name="check"
          onchange="this.form.submit()"
          class="checkbox"
          value="<%=element._id%>"
          type="checkbox"
        />
        <p><%= element.item %></p>
      </div>
      <input
        type="hidden"
        name="checkList"
        value="<%= listTitle %>"
        style="width: 0 !important;"
      />
    </form>
    <%})%>
  </ul>

  <form action="/" method="post" class="newform">
    <input
      type="text"
      name="newItem"
      id="newitem"
      placeholder="add work .."
      autocomplete="off"
    />
    <button class="button" type="submit" name="btn" value="<%= listTitle %>">
      +
    </button>
  </form>
</div>

<%- include("footer") %>
