<%- include ("header") %>

<div class="box">
    <div id="heading">
        <h1><%=listTitle%></h1>
    </div>
</div>

<div class="box">
    <ul class="list">
        <%for (var i=0 ; i<newListItem.length ; i++){ %>
        <div class="item">
            <input type="checkbox">
            <p><%= newListItem[i] %></p>
        </div>
        <%};%>
    </ul>


    <form action="/" method="post" class="item">
        <input type="text" name="newItem" id="newitem" placeholder="New item" autocomplete="off">
        <button class="button" type="submit" name="list" value="<%= listTitle %> ">+</button>
    </form>
</div>

<%- include ("footer") %>